
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-family: 'Jost', sans-serif;
}

.header p {
  padding-top: 20px;
  font-size: 22px;
}
.weekdays-container {
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
  padding-right: 10vw;
}

.calendar-container {
  display: flex;
  padding-top: 20px;
  min-height: 50vh;
}
.day {
  width: 10vw;
  height: 5vh;
  font-size: 24px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  padding-bottom: 5px;
  border: 2px solid black;
  font-family: 'Jost', sans-serif;
}

.container {
  display: flex; 
  font-family: 'Jost', sans-serif;
  margin-top: 10vh;
  justify-content: center;
}

.task-container {
  display: flex;
  max-width: 70vw;
  max-height: 30vh;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-top: 10vh;
  border: 2px solid black;
}

.form-container {
  display: flex;
  justify-content: center;
  font-family: 'Jost', sans-serif;
}

.form-container button {
 box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}

.form-container button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: purple;
    z-index: -1;
    transition: width 150ms ease-in-out;
}

.form-container button:hover {
  color: rgb(14, 8, 84);
  background-color: aqua;
}





